<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="common/header::header"></head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand navbar-link" th:href="@{/}">Issue Quest</a>
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navcol-1">
				<ul class="nav navbar-nav">
					<li role="presentation">
						<a th:href="@{/quests/}">クエスト掲示板</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- トップ画面 -->
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-3">困リゴトクエストへようこそ！</h1>
			<p class="lead">困りごとをクエストとして依頼したり、受注したりと楽しく解決するためのサービスです</p>
			<hr class="my-4"></hr>
			<p>まずはクエスト掲示板にて、クエストを作成してみましょう</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" th:href="@{/quests/}" role="button">クエスト掲示板を見てみる</a>
			</p>
		</div>
		<!-- /.container -->
		<a th:href="@{/logout}" class="btn btn-default">
			LOG OUT
		</a>
	</div>
</body>

</html>